
// Results Div
.results { 
    background-color: #7d7eaf;
    border: 10px solid #283030;
    display: flex;
    height: 79vh;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 100;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .results-title {
        font-family: 'Press Start 2P', cursive;
        font-size: 4.0rem;
        color: #f8f8f8;
        margin-bottom: 2%;
    }

    .results-gif-container {
        height: 60%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        .results-gif {
            height: auto;
            max-height: 100%;
            width: auto;
            max-width: 100%;
        }
    }

    .reset-button {
        background-color: #295068;
        opacity: 1;
        color: #f8f8f8;
        font-family: 'Press Start 2P', cursive;
        font-size: 1.6rem;
        border: 5px solid #f8f8f8;
        width: 150px;
        height: 10%;
        margin-top: 2%;
    }
}

.hidden {
    display:none;
}