
// User Pokemon Selection
.user-interaction {
    background-color: $background-user-colour;
    height: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    // Pokemon Selection
    .selection {
        border: 10px solid $background-selection;
        background-color: $lighter-general;
        width: calc(70% - 1%);
        height: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .selection-button {
            background-color: $lighter-general;
            height: 70%;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none;

            .button-sprite-container {
                height: 50%;

                .button-sprite {
                    height: 100%;
                    width: auto;
                }
            }

            .sprite-label {
                font-family: 'Press Start 2P', cursive;
                font-size: 1.6rem;  
                text-transform: uppercase;   
                height: 25%;           
                padding-top: 8%;
            }

        }

        .selection-button:hover,
        .selection-button:focus {
            .sprite-label {
                color: $background-selection;
            }
        }
    }

    // Battle Button
    .submission {
        background-color: $battle-button-accent;
        width: calc(30% - 1%);
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        .submission-button {
            background-color: $battle-button-background;
            color: $lighter-general;
            font-family: 'Press Start 2P', cursive;
            font-size: 3rem;
            border: 10px solid $lighter-general;
            width: 95%;
            height: 90%;
        }

        .submission-button:hover,
        .submission-button:focus {
            background-color: $lighter-general;
            color: $battle-button-background;
            border: 10px solid $battle-button-background;
        }
    }
}

