
// Overall Colours
$lighter-general: #f8f8f8;
$text-colour: #000000;
$text-shadow: #ffffff;
$body-background: #7ee278;

// Linear Gradient Colours
$middle-gradient:#e1f7e0;
$top-gradient: #8ec5fc;

// Instructions 
$instructions-background: #fece2f;
// Battle Ground
$sprite-shadow-light: #a8eb76;
$sprite-shadow-dark: #83de7d;

// User Pokemon Selection
$background-user-colour: #283030;

// Pokemon Selection Container
$background-selection: #7d7eaf;
 
// Battle Button
$battle-button-accent: #c7a750;
$battle-button-background: #295068;

// Results Border
$results-border: #283030;

// Water
$water-colour: blue;

// Grass
$grass-colour: green;

// Fire
$fire-colour: red;
